*{
    margin: 0px;
    padding: 0px;
}

/* Page Wrap */
.wrapper{
    width: 1160px;
    height: 1296px;
    /* height: 1237.16px; */
    background-color: #072235;
    margin: auto;
    padding: 5px 10px 5px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header */
.header{
    min-width: 500px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header p, .header ul, .header li{
    color:#F9F9FA;
}

.header p{
    font-size: 35px;
    font-style: normal;
    color: #FFFFFF;
}

.header span{
    color: #1B99E8;
}

.header ul{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-width: 650px;
    list-style-type: none;
}

.header li{
    font-size: 20px;
    font-weight: bold;
}

#home_top{
    color: #306389;
    font-size: 20px;
    font-weight: normal;
}

/* Main Content Container */
.content{
    min-width: 500px;
    min-height: 1015px;
    background-color: #FFFFFF;
    margin-bottom: 1px;
    padding: 20px 20px 0px 20px;
}

.jumbotron_pic{
    width: 1120px;
    height: 477px;
    margin-bottom: 16px;
}

/* What_We_Provide Container */
.what_we_provide{
    min-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

/* Services, Projects, and Clients boxes */
.services, .projects, .clients{
    width: 335px;
    height: 250px;
    background-color: #1468A8;
    padding: 11px;
    color: #DDE9F3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.services img, .services h1, .projects img, .projects h1, .clients img, .clients h1{
    display: inline-block;
    vertical-align: middle;
}

.services h1, .projects h1, .clients h1{
    font-weight: normal;

}

.services img, .projects img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.clients img{
    width: 50px;
    height: 50px;
    margin-bottom: 4px; 
}


.services button, .projects button, .clients button{
    height: 50px;
    width: 177px;
    text-align: center;
    color: #E5F4FC;
    background: linear-gradient(#5FB7EF 55%,#198ED7 35%, #1A95E2 10%);
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.the_world_testimonial{
    margin-bottom: 16px;
}

.the_world, .testimonial{
    display: inline-block;
    font-size: 30px;
    color: #062134;
}

.the_world{
    margin-right: 400px;
}


/* Bottom Content */

/* Building */
.bottom_content{
    display: flex;
    justify-content: space-between;
    height: 222px;
}

.building, .learn_more, .testimonial_text{
    width: 355px;
}

.building{
    height: 200px;
    margin-left: -2px;
}


/* Learn More */
.learn_more, .testimonial_text{
    height: 220px;
    color: #3C5466;
}

.learn_more{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.learn_more p{
    font-size: 14px;
}
.learn_more a{
    text-decoration: none;
    color: #5E8CAE;
    font-size: 20px;
}

/* Testimonial */

.testimonial_text{
    font-size: 11px
}

.testimonial_text .comment{
    font-style: italic;
    background-color: #DBEDFF;
    padding: 27px;
    font-size: 18px;
    height: 100px;
}

.arrow_down {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top:  15px solid #DBEDFF;
    margin-left: 28px;
  }
  
  .author{
    font-size: 14px;
    font-style: normal;
  }


/* Footer Container */
.footer{
    min-width: 500px;
    min-height: 64px;
    background-color: #DBEDFE;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 400px;
    color: #5183A7
}

#home_bottom{
    color: #AAD3F2;
}



