*{
    margin: 0px;
    padding: 0px;
}

.header p{
    font-size: 24px;
    padding: 20px;
}

.content{
    /* width: 1000px;
    height: 1000px; */
    border: solid hotpink;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.content img{
    height: 200px;
    width: 200px;
    margin: 20px;
    border: solid black;
}

button{
    color: #D3F6E6;
    background-color: #009E0F;
    display: block;
    font-size: 24px;
    padding: 20px;
    margin: 20px;
}