*{
    padding: 0px;
    margin: 0px;
}

.content, .characteristics{
    display: inline-block;
    vertical-align: top;
}


.content{
    width: 600px;
    height: 1000px;

}

.content p{
    display: inline-block;
}

.characteristics{
    min-height: 400px;
    min-width: 200px;
    border: solid 40px Red;
    padding: 40px;
}

